.iconsContainer{
}
.iconContainer{
    display: flex;
    height: 40px;
    width: 40px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.iconContainer img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.logoContainerImg{
    width: 150px;
    height: 40px;
    transform: translateY(-40%);
}

@media (min-width:640px) {
    .logoContainerImg{
        width: 250px;
        height: 65px;
        transform: translateY(-40%);
    }
}
