.stepsTimeLineBackimg{
    background-image: url("../assets/stepTimeLine.png");
    background-size: cover;
    background-position: center;
}

@media (max-width:662px) {
  .animatedVideo{
    width: 100% !important;
    height: 100% !important;
}  
}
