@tailwind base;
@tailwind components;
@tailwind utilities;

  
/* css for the margin in desktop and mobiles screen  */
  /* *{
    border: 1px solid red ;
  } */
  .heroVideoBackground,.featuresSection, .faqSection,.footerSection, .navbar{
    margin-left: 80px;
    margin-right: 80px;
  }
  @media (max-width:640px) {
    .heroVideoBackground,.featuresSection, .faqSection,.footerSection, .navbar{
      margin-left: 20px;
      margin-right: 20px;
    }
  }


  /*
    #C8E870 primary 500 
   
   */
  
  
  
  
  